@model ServiceDesk.ViewModels.GraphicInfo


@{
    ViewBag.Title = "Index";

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reportes</title>
    <style>
        .animOut {
            -webkit-animation: scale-out-center 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: scale-out-center 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        }

        @@-webkit-keyframes scale-out-center {
            0% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 1;
            }

            100% {
                -webkit-transform: scale(0);
                transform: scale(0);
                opacity: 1;
            }
        }

        @@keyframes scale-out-center {
            0% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 1;
            }

            100% {
                -webkit-transform: scale(0);
                transform: scale(0);
                opacity: 1;
            }
        }

        .animIn {
            -webkit-animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }

        @@-webkit-keyframes scale-in-center {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
                opacity: 1;
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 1;
            }
        }

        @@keyframes scale-in-center {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
                opacity: 1;
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 1;
            }
        }

        classPieGoogle {
            border: 1px solid #ccc;
        }
    </style>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        var user =  @ViewBag.user;
        var _type       = "";
        var dateFinal, dateInicial;
        var lineSalida = "";
        var pie1 = "";

        // CARGAR GOOGLE API para los gráficos
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(piePrioridad);
        google.charts.setOnLoadCallback(piecentro);
        google.charts.setOnLoadCallback(pieestatus);
        google.charts.setOnLoadCallback(pietipo);
        google.charts.setOnLoadCallback(pieexpertiz);
        google.charts.setOnLoadCallback(pieresolutor);
        google.charts.setOnLoadCallback(piesla);
        google.charts.setOnLoadCallback(pieencuesta);
        google.charts.setOnLoadCallback(piecalidad);

        @{ string url = "../Reportes/Descargar_Excel_Encuestas?EmployeeId=" + @ViewBag.User;}
        //Conexiones
        var controller = '@ViewBag.Rol';
        function returnMenu() {
            var urlMenu = "";
            if (controller == "Directivo" || controller == "ServiceDesk")   urlMenu = '../' + controller + '/Dashboard?EmployeeId=' + user;
            if (controller == "Tecnico")                                    urlMenu = '../Dashboard/Tecnico?EmployeeId=' + user;
            if (controller == "Tecnico")                                    urlMenu = '../Dashboard/Resolutor?EmployeeId=' + user; // DUDA: tecnico va usar el dashboard de técnico o el de resolutor?
            if (controller == "Resolutor" || controller == "Supervisor")    urlMenu = '../Dashboard/Resolutor?EmployeeId=' + user;
            window.location = urlMenu;
        }
        function goToReportes()         { window.location = '../Reportes/Graficos?EmployeeId='       + user; }
        function goToGridTickets()      { window.location = '../Reportes/gridTickets?EmployeeId='    + user; }
        function goToGridTickets2()     { window.location = '../Reportes/GridEncuesta?EmployeeId='    + user; }

        // Load grafics
        $(document).ready(function () {
            console.log("Loading graphics");

            //document.getElementById('piesla').src       = "PieChartSLA?EmployeeID="          + user;
            //document.getElementById('pieestatus').src   = "PieChartEstatus?EmployeeID="      + user;
            //document.getElementById('pieprioridad').src = "PieChartPrioridad?EmployeeID="    + user;
            //document.getElementById('pieexpertiz').src  = "PieChartExpertiz?EmployeeID="     + user;
            //document.getElementById('pietipo').src      = "PieChartTipo?EmployeeID="         + user;
            //document.getElementById('piecentro').src    = "PieChartCentro?EmployeeID="       + user;

            //if (controller == "ServiceDesk" || controller == "Directivo")
            //document.getElementById('pieres').src       = "PieChartResolutor?EmployeeID="    + user;

            //document.getElementById('pieencuesta').src  = "PieChartEncuesta?EmployeeID="     + user;
            //document.getElementById('piecalif').src = "PieChartCalidad?EmployeeID=" + user;

        });

        function loadGraphs() {
            window.location = lineSalida;
            console.log("cargando pagina: " + lineSalida);
        }
        function fechaFinalCambiada() {
            document.getElementById("loadFechas").style.display = "block";
            //obtener fecha_final
            var datepícker = document.getElementById("datePickerFinal");
            dateFinal = datepícker.value;
            //obtener fecha_inicial
            datepícker = document.getElementById("datePickerInicial");
            dateInicial = datepícker.value;

            // Nueva linea para graficos de Google
            lineSalida = "Graficos?EmployeeID=" + @ViewBag.user + "&fechaInicial=" + dateInicial + "&fechaFinal=" + dateFinal;

            console.log("fechas actualizadas: " + lineSalida);
        }
        function fechaFinalCambiada2() {
            document.getElementById("loadFechas").style.display = "block";
            //obtener fecha_final
            var datepícker  = document.getElementById("datePickerFinal2");
            dateFinal       = datepícker.value;
            //obtener fecha_inicial
            datepícker      = document.getElementById("datePickerInicial2");
            dateInicial     = datepícker.value;

            // Nueva linea para graficos de Google
            lineSalida = "Graficos?EmployeeID=" + @ViewBag.user + "&fechaInicial=" + dateInicial + "&fechaFinal=" + dateFinal;

            console.log("fechas actualizadas: " + lineSalida);
        }

        // ANIMACIONES
        function hideDrop() {
            //Esconder checkboxes
            var drop = document.getElementById("fakedrop");
            if (drop.hidden == true) drop.hidden = false; else drop.hidden = true;
        }
        function hideDrop2() {
            //Esconder checkboxes
            var drop = document.getElementById("fakedrop2");
            if (drop.hidden == true) drop.hidden = false; else drop.hidden = true;
        }
        function hidePie(int) {
            //Hide and Show con animaciones
            console.log("pie debugg: " + int);
            var pie = document.getElementById("Pie" + int.toString());
            if (pie.classList.contains("animOut")) {
                pie.classList.remove("animOut");
                pie.hidden = false;
                pie.classList.add("animIn");
                pie.addEventListener("animationend", function () {
                    pie.hidden = false;
                });
            } else {
                pie.classList.remove("animIn");
                pie.classList.add("animOut");
                pie.addEventListener("animationend", function () {
                    pie.hidden = true;
                });
            }
            //Hide and Show sin animaciones
            //document.getElementById("Pie" + int.toString()).element.classList.add("animOut");
            //pie.className += "animOut";
            //if (pie.hidden == true) pie.hidden = false; else pie.hidden = true;

            //Esconder checkboxes despues de usar boton:
            //hideDrop();
        }

        // CARGAR PIES
        @{
            int contador= 0;
            string opcionesPIe = " width: 600, height: 400, is3D: true";
        }
        function piePrioridad() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Prioridades');
            data.addColumn('number', 'Tickets');

            @{
                contador= 0;
                foreach (var prioridad in Model.column_prioridad)
                {
                    <text>  data.addRows([['@Html.Raw(HttpUtility.HtmlDecode(prioridad))', @Model.count_prioridad[contador]]]); </text>
                    contador++;
                }
            }
            var options = {
                title: 'Tickets por prioridad',  @opcionesPIe };
            var chart = new google.visualization.PieChart(document.getElementById('pieprioridad'));
            chart.draw(data, options);
        }
        function piecentro() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Centro');
            data.addColumn('number', 'Tickets');
            @{
                contador= 0;
                foreach (var centros in Model.column_centro)
                {
                    <text>  data.addRows([['@Html.Raw(HttpUtility.HtmlDecode(centros))', @Model.count_centro[contador]]]); </text>
                    contador++;
                }
            }
            var options = { title: 'Tickets por Centro', @opcionesPIe };
            var chart = new google.visualization.PieChart(document.getElementById('piecentro'));
            chart.draw(data, options);
        }
        function pieestatus() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Estatus');
            data.addColumn('number', 'Tickets');
            @{
                contador= 0;
                foreach (var estatus in Model.column_estatus)
                {
                    <text>  data.addRows([['@Html.Raw(HttpUtility.HtmlDecode(estatus))', @Model.count_estatus[contador]]]); </text>
                    contador++;
                }
            }
            var options = { title: 'Tickets por Estatus', @opcionesPIe };
            var chart = new google.visualization.PieChart(document.getElementById('pieestatus'));
            chart.draw(data, options);
        }
        function pietipo() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Tipo');
            data.addColumn('number', 'Tickets');
            @{
                contador= 0;
                foreach (var tipo in Model.column_tipo)
                {
                    <text>  data.addRows([['@Html.Raw(HttpUtility.HtmlDecode(tipo))', @Model.count_tipo[contador]]]); </text>
                    contador++;
                }
            }
            var options = { title: 'Tickets por Tipo',  @opcionesPIe};
            var chart = new google.visualization.PieChart(document.getElementById('pietipo'));
            chart.draw(data, options);
        }
        function pieexpertiz() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Expertiz');
            data.addColumn('number', 'Tickets');
            @{
                contador= 0;
                foreach (var expertiz in Model.column_expertiz)
                {
                    <text>  data.addRows([['@Html.Raw(HttpUtility.HtmlDecode(expertiz))', @Model.count_expertiz[contador]]]); </text>
                    contador++;
                }
            }
            var options = { title: 'Tickets por Expertiz',  @opcionesPIe };
            var chart = new google.visualization.PieChart(document.getElementById('pieexpertiz'));
            chart.draw(data, options);
        }
        function pieresolutor() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Resolutor');
            data.addColumn('number', 'Tickets');
            @{
                contador= 0;
                foreach (var Resolutor in Model.column_resolutor)
                {
                    <text>  data.addRows([['@Html.Raw(HttpUtility.HtmlDecode(Resolutor))', @Model.count_resolutor[contador]]]); </text>
                    contador++;
                }
            }
            var options = { title: 'Tickets por Resolutor',  @opcionesPIe };
            var chart = new google.visualization.PieChart(document.getElementById('pieres'));
            chart.draw(data, options);
        }
        function piesla() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'SLA');
            data.addColumn('number', 'Tickets');
            @{
                contador= 0;
                foreach (var sla in Model.column_sla)
                {
                    <text>  data.addRows([['@Html.Raw(HttpUtility.HtmlDecode(sla))', @Model.count_sla[contador]]]); </text>
                    contador++;
                }
            }
            var options = { title: 'Tickets por SLA',  @opcionesPIe };
            var chart = new google.visualization.PieChart(document.getElementById('piesla'));
            chart.draw(data, options);
        }
        function pieencuesta() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Encuesta');
            data.addColumn('number', 'Tickets');
            @{
                contador= 0;
                foreach (var encuesta in Model.column_encuesta)
                {
                    <text>  data.addRows([['@Html.Raw(HttpUtility.HtmlDecode(encuesta))', @Model.count_encuesta[contador]]]); </text>
                    contador++;
                }
            }
            var options = { title: 'Encuesta',  @opcionesPIe };
            var chart = new google.visualization.PieChart(document.getElementById('pieencuesta'));
            chart.draw(data, options);
        }
        function piecalidad() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Calidad');
            data.addColumn('number', 'Tickets');
            @{
                contador= 0;
                foreach (var sla in Model.column_calidad)
                {
                    <text>  data.addRows([['@Html.Raw(HttpUtility.HtmlDecode(sla))', @Model.count_calidad[contador]]]); </text>
                    contador++;
                }
            }
            var options = { title: 'Calidad',  @opcionesPIe };
            var chart = new google.visualization.PieChart(document.getElementById('piecalif'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>

    <p>
        <br />
        <a style="color: dodgerblue" onclick="returnMenu()">Dashboard</a> / <a style="color: dodgerblue" onclick="goToReportes();"> Reportes </a>
    </p>

    <ul class="nav nav-tabs navbar-left" id="myTab" role="tablist">
        <li class="nav-item active" role="presentation">
            <a class="nav-link"
               id="historialID-tab"
               data-toggle="tab"
               href="#historial"
               role="tab"
               aria-controls="historial"
               aria-selected="True">
                <h4> <b style="color:black">Reportes Tickets</b> </h4>
            </a>
        </li>
        @if (@ViewBag.EdoTicket == "Trabajando")
        {
            if (ViewBag.SubticketInfo != "SI")
            {
                <li class="nav-item">
                    <a class="nav-link"
                       id="subticketsID-tab"
                       data-toggle="tab"
                       href="#subtickets"
                       role="tab"
                       aria-controls="subtickets"
                       aria-selected="false">
                        <h4> <b style="color:white">Subtickets</b></h4>
                    </a>
                </li>
            }
        }
        @if (ViewBag.SubticketInfo != "SI")
        {
            <li class="nav-item">
                <a class="nav-link"
                   id="vinculacion-tab"
                   data-toggle="tab"
                   href="#vinculacion"
                   role="tab"
                   aria-controls="vinculacion"
                   aria-selected="false">
                    <h4> <b style="color:black"> Reporte Encuestas </b> </h4>
                </a>
            </li>
        }
    </ul>

    <div style="height: 100%; width: 70%; display:flex;">
        <div style="height: 100%; width: 10%; display:flex;">

        </div>
        <div style="height: 100%; width: 40%; ">
            <div>
                @{
                    string fechaIni = ViewBag.fechaInicial;
                    string fechafinal = ViewBag.fechaFinal;
                }
                @if (fechaIni != "" && fechafinal != "") // ambas fechas
                {
                    <span>
                        Mostrando información de tickets creados
                        <br />durante o después de @fechaIni
                        <br />y durante o antes de: @fechafinal
                    </span>
                }
                @if (fechaIni != "" && fechafinal == "") // solo fecha inicial
                {
                    <span>
                        Mostrando información de tickets creados
                        <br />durante o después de @fechaIni
                    </span>
                }

                @if (fechafinal != "" && fechaIni == "") // solo fecha final
                {
                    <span>
                        Mostrando información de tickets creados
                        <br />durante o antes de @fechafinal
                    </span>
                }
            </div>
        </div>
        <div class="Content-header-right" style="height: 100%; width: 50%; ">
            <table>
                <tr>
                    <td>
                        <div class="Fecha1" style="height: 50%; width: 50%; text-align:center; margin-left:30px;">
                            Fecha Inicio
                            <input type="date" id="datePickerInicial" placeholder="dd/mm/yyyy" onchange="fechaFinalCambiada()" />
                        </div>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success" onclick="goToGridTickets();" value="DetalleTickets" style="background-color: #007bff; width: 100%; height: 54%;">
                            Ver Detalle Tickets
                        </button>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom:15px;">
                        <div class="Fecha2" style="height: 50%; width: 50%; text-align: center; margin-left:30px;">
                            Fecha Final
                            <input type="date" id="datePickerFinal" onchange="fechaFinalCambiada()" />
                        </div>
                    </td>
                    <td style="padding-bottom:15px;">
                        <button type="submit" class="btn btn-success" onclick="goToGridTickets2();" value="DetalleTickets" style="background-color: #007bff; width: 100%; height: 54%;">
                            Ver Detalle Encuestas
                        </button>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom:15px;">
                        <button class="btn btn-success" onclick="loadGraphs();" style="background-color: #007bff; width: 100%; height: 54%; display:none;" id="loadFechas">
                            Cargar Gráficos entre fechas
                        </button>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>
    </div>



    <div class="tab-content">
        <div class="tab-pane active" id="historial" role="tabpanel" aria-labelledby="historialID-tab">
            @*Cabeza de JOSUE*@
            <div class="Content-header" style="width:100%;  height: 150px; display:flex;">
                @*Checkboxes*@
                <div class="Content-header-left scale-out-center" style="height:100%; width:50%; padding-top: 20px">
                    <div style="width:100%">
                        <button class="btn btn-light" value="ExportoCSV" onclick="hideDrop()">Personalizar Vista</button>
                        <ul id="fakedrop" hidden="true">

                            @if (ViewBag.Rol == "ServiceDesk" || ViewBag.Rol == "Directivo")
                            {
                                <table>
                                    <tr>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><input type="checkbox" onclick="hidePie('1')" checked="true"> Por SLA </td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" onclick="hidePie('2')" checked="true"> Por Tipo     </td>
                                        <td><input type="checkbox" onclick="hidePie('3')" checked="true"> Por Estatus </td>
                                        <td><input type="checkbox" onclick="hidePie('4')" checked="true"> Por Prioridad   </td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" onclick="hidePie('5')" checked="true"> Por Centro    </td>
                                        <td><input type="checkbox" onclick="hidePie('6')" checked="true"> Por Grupo Resolutor     </td>
                                        <td><input type="checkbox" onclick="hidePie('7')" checked="true"> Por Expertiz    </td>
                                    </tr>
                                    <tr>
                                    </tr>
                                </table>
                            }
                            else
                            {
                                <table>
                                    <tr>
                                        <td><input type="checkbox" onclick="hidePie('1')" checked="true"> Por Tipo </td>
                                        <td><input type="checkbox" onclick="hidePie('2')" checked="true"> Por SLA </td>
                                        <td><input type="checkbox" onclick="hidePie('3')" checked="true"> Por Prioridad   </td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" onclick="hidePie('4')" checked="true"> Por Centro     </td>
                                        <td><input type="checkbox" onclick="hidePie('5')" checked="true"> Por Estatus     </td>
                                        <td><input type="checkbox" onclick="hidePie('6')" checked="true"> Por Expertiz    </td>
                                    </tr>
                                    <tr>
                                    </tr>
                                </table>
                            }
                        </ul>
                    </div>
                </div>
                @*Datepickers*@
            </div>

            @*Pies*@
        <div class="container-pae" style="position:relative;  width:100%; margin-top:10px; height:900px;">
            @if (ViewBag.Rol == "ServiceDesk" || ViewBag.Rol == "Directivo")
            {
                <div class="graf-second" style="width:100%; height:35%; display:flex" id="divSla">
                    <div class="graf-second" style=" height: 100%; margin-left: auto; margin-right: auto;" animation: myAnim 1s ease 0s 1 normal forwards; id="Pie1">
                        <p> <div id="piesla" class="classPieGoogle"></div> </p>
                    </div>
                </div>
                <div class="graf-second" style="width:100%; height:35%; display:flex">
                    <div class="graf-second" style=" height: 100%; margin-left: auto; margin-right: auto;" id="Pie2"> <p> <div id="pietipo" class="classPieGoogle"></div> </p> </div>
                    <div class="graf-second" style=" height: 100%; margin-left: auto; margin-right: auto;" id="Pie3"> <p> <div id="pieestatus" class="classPieGoogle"></div> </p> </div>
                    <div class="graf-second" style=" height: 100%; margin-left: auto; margin-right: auto;" id="Pie4"> <p> <div id="pieprioridad" class="classPieGoogle"></div> </p> </div>
                </div>
                <div class="graf-second" style="width:100%; height:35%;display:flex">
                    <div class="graf-second" style="height: 100%; margin-left: auto; margin-right: auto;" id="Pie5"> <p> <div id="piecentro" class="classPieGoogle"></div> </p> </div>
                    <div class="graf-second" style="height: 100%; margin-left: auto; margin-right: auto;" id="Pie6"> <p> <div id="pieres" class="classPieGoogle"></div> </p> </div>
                    <div class="graf-second" style="height: 100%; margin-left: auto; margin-right: auto;" id="Pie7"> <p> <div id="pieexpertiz" class="classPieGoogle"></div> </p> </div>
                </div>
            }
            else
            {
                <div class="graf-second" style="width:100%; height:35%; display:flex">
                    <div class="graf-second" style=" height: 100%; margin-left: auto; margin-right: auto;" id="Pie1"> <p> <div id="pietipo" class="classPieGoogle"></div> </p> </div>
                    <div class="graf-second" style=" height: 100%; margin-left: auto; margin-right: auto;" id="Pie2"> <p> <div id="piesla" class="classPieGoogle"></div> </p> </div>
                    <div class="graf-second" style=" height: 100%; margin-left: auto; margin-right: auto;" id="Pie3"> <p> <div id="pieprioridad" class="classPieGoogle"></div> </p> </div>
                </div>
                <div class="graf-second" style="width:100%; height:35%;display:flex">
                    <div class="graf-second" style="height: 100%; margin-left: auto; margin-right: auto;" id="Pie4">  <p> <div id="piecentro" class="classPieGoogle"></div> </p> </div>
                    <div class="graf-second" style="height: 100%; margin-left: auto; margin-right: auto;" id="Pie5">  <p> <div id="pieestatus" class="classPieGoogle"></div> </p> </div>
                    <div class="graf-second" style="height: 100%; margin-left: auto; margin-right: auto;" id="Pie6">  <p> <div id="pieexpertiz" class="classPieGoogle"></div> </p> </div>
                </div>
            }
        </div>
        </div>

        <div class="tab-pane fade" id="subtickets" role="tabpanel" aria-labelledby="subticketsID-tab">
            Contenido de tab2, subtickets
        </div>

        <div class="tab-pane fade" id="vinculacion" role="tabpanel" aria-labelledby="vinculacion-tab">
            @*Cabeza de JOSUE*@
            <div class="Content-header" style="width:100%;  height: 150px; display:flex;">
                @*Checkboxes*@
                <div class="Content-header-left scale-out-center" style="height:100%; width:70%; padding-top: 20px">
                    <div style="width:100%">
                        <button class="btn btn-light" value="ExportoCSV" onclick="hideDrop2()">Personalizar Vista</button>
                        <ul id="fakedrop2" hidden="true">
                            <table>
                                <tr>
                                    <td><input type="checkbox" onclick="hidePie('8')" checked="true"> Por Estado de Encuesta </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" onclick="hidePie('9')" checked="true"> Por Calificación   </td>
                                </tr>
                                <tr>
                                </tr>
                            </table>
                        </ul>
                    </div>
                </div>
                @*Datepickers*@
                @*<div class="Content-header-right" style="height: 100%; width: 30%; ">
                    <div class="sub-header1" style="height:50%; width: 75%; display:flex">

                        <div class="Fecha1" style="height: 50%; width: 50%; text-align:center; padding-left: 5px">
                            Fecha Inicio
                            <input type="date" id="datePickerInicial2" placeholder="dd/mm/yyyy" />
                        </div>
                        <div class="Fecha2" style="height:50%; width: 50%; text-align:center">
                            Fecha Final
                            <input type="date" id="datePickerFinal2" onchange="fechaFinalCambiada2()" />
                        </div>

                    </div>
                    <div class="sub-header1" style="height:50%; width:100%; display: flex;">

                        <div class="sub-2" style="width: 30%; height:100%; text-align: center; padding-top:10px">
                            <button type="submit" class="btn btn-success" onclick="goToGridTickets2();" value="DetalleTickets" style="background-color: #007bff; width: 90%; height: 54%;">
                                Ver Detalle Encuestas
                            </button>
                        </div>

                    </div>
                </div>*@
            </div>
            @*Pies*@
            <div class="graf-second" style="width:100%; height:35%; display:flex">
                <div class="graf-second" style=" height: 100%; margin-left: auto; margin-right: auto;" id="Pie8"> <p> <div id="pieencuesta" class="classPieGoogle"></div></p> </div>
                <div class="graf-second" style=" height: 100%; margin-left: auto; margin-right: auto;" id="Pie9"> <p> <div id="piecalif" class="classPieGoogle"></div></p> </div>
            </div>
        </div>

    </div>

</body>
</html>