@using GridMvc
@using GridMvc.Html
@model ServiceDesk.ViewModels.detailTicket


<style>
    .RectangleHis {
        width: 500px;
        height: 830px;
        margin: 20px 57px 37px 36px;
        margin-top: -10px;
        background-color: #fbfbfb;
    }

    .RectangleDetail {
        width: 526px;
        height: 138px;
        margin: 0 1px 18px 0;
        padding: 18px 0 0;
    }

    .Archivos-adjuntos {
        width: 100px;
        height: 14px;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        margin-left: 115px;
        color: #448fe1;
    }

    .RectangleFiles {
        padding: 5px 0px 5px 0px;
        background-color: #feebec;
    }

    .RectangleSLA {
        text-align: center;
        width: 125px;
        padding: 10px 12px;
        border-radius: 3px;
        margin-left: 5px;
        background-color: white;
    }

    .inactive {
        color: gray;
    }

    .Tab:hover {
        box-shadow: 1px 1px 2px black;
    }

    .Tab:active {
        color: black !important;
        background-color: #dddddd !important;
    }
</style>
<script>

    var Es_subticket = '@ViewBag.EsSubticket';
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    $(document).on("click", "[name='Tab']", function (e) {
        $("#span1").removeClass("inactive");
        $("#span2").removeClass("inactive");
        debugger;
        if (e.currentTarget.id == "Tab2") {
            $("#DatosTicket").css('display', 'none');
            $("#MisDatos").css('display', 'block');
            $("#span1").addClass("inactive");
            $("#span2").addClass("active");
            $("#Tab2").css({
                "border-top-color": "lightgray",
                "border-bottom-color": "white",
                "border-right-color": "white",
                "border-width": "0.2px",
                "border-style": "solid"
            });
            $("#Tab1").css({
                "border-bottom-color": "lightgray",
                "border-top-color": "white",
                "border-left-color": "white",
                "border-width": "0.2px",
                "border-style": "solid"
            });

        } else {
            $("#DatosTicket").css('display', 'block');
            $("#MisDatos").css('display', 'none');
            $("#span1").addClass("active");
            $("#span2").addClass("inactive");
            $("#Tab1").css({
                "border-top-color": "lightgray",
                "border-bottom-color": "white",
                "border-width": "0.2px",
                "border-style": "solid"
            });
            $("#Tab2").css({
                "border-top-color": "white",
                "border-bottom-color": "lightgray",
                "border-width": "0.2px",
                "border-style": "solid"
            });


        }


    });
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    //FUNCIONES AYB
    function ReabreTicket(id) {

        //Validar que no tenga mas de 2 reaperturas
            $.ajax({
                url: '../Supervisor/ValidaReaperturas',
                type: "POST",
                data: {
                    TicketId: id
                },
                success: function (result) {

                    if (result == "Mayor") {

                        alert("El ticket " + id + " ya cuenta con un límite de 2 reaperturas.");

                    }
                    else
                    {
                         @*var url = '@Url.Action("ReabrirTicket", "App", new { Id = "__id__" })';
        window.location.href = url.replace('__id__', id);*@


        var Usuario = $("#EmployeeidBO").val();


        var url = '@Url.Action("ReabrirTicket", "App")';
        window.location.href = url + '?Id=' + id +'&EmployeeId='+Usuario;

                    }

                },
                error: function (err) {
                    alert(err);

                }
            });

    }
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    function RechazaSolucionModal() {

        $("#modalRechazaSolucion").modal('show');

    }
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    //AYB
    function RechazaSolucion(id) {

        $("#DetalleId").val(id);
        //Guarda SubTicket
        $("#form").submit();

    }
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    //AYB
    function ApruebaSolucion(id) {

        $.ajax({
            url: '../Supervisor/GetAceptaSolucion',
            type: "POST",
            data: {
                TicketId: id
            },
            success: function (result) {

                if (result == "Correcto") {

                    $("#modalNotificaciones").modal('show');
                    $("#tblSuccess").css('display', 'block');
                    $("#tituloAceptaSolucion").css('display', 'block');
                    $("#LeyendaAceptaSolucion").css('display', 'block');

                }
                else
                {
                    $("#modalNotificaciones").modal('show');
                    $("#tblError").css('display', 'block');


                }

            },
            error: function (err) {
                alert(err);

            }
        });

    }
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    function AceptaTicket(id) {

        $("#modalNotificaciones").modal('hide');
        $("#modalRechazaSolucion").modal('hide');
        location.reload();

    }
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    function CancelaSolicitud() {

    $("#modalDownload").modal('hide');
        $("#modalRechazaSolucion").modal('hide');
    }
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    function ShowAdjuntos(id) {

        $("#modalDownload").modal('show');

    }
    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    function DownloadDocs(id) {

        $("#IdDoc").val(id);

        $("#formAttach").submit();

    }
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    function ShowEdit() {

        var id = $("#ticket_Id").val();
        var Usuario = $("#EmployeeidBO").val();


        var url = '@Url.Action("EditTicket", "App")';
        window.location.href = url + '?Id=' + id +'&EmployeeId='+Usuario;

    }
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    function ShowModalEncuesta(id) {

         var url = '@Url.Action("EncuestaSatisfaccion", "DashBoard")';
        var liga = url +'?TicketId='+id;

        popupWindow = window.open(
            //'./EncuestaSatisfaccion?IdTicket=' + id + '&EmployeeId=' + userr,
            liga,
            '_blank',
            'directories=no, ' +
            'status=no, menubar=no, ' +
            'scrollbars=yes, ' +
            'resizable=no,height=500, ' +
            'width=1000,top=150,left=200');
        popupWindow.focus();

    }
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
</script>

@*DESCARGA DE ARCHIVOS*@
<div>
    @using (Html.BeginForm("ExportArchivos", "Supervisor", FormMethod.Post, new { id = "formAttach" }))
    {
        @Html.Hidden("IdDoc")

    }
</div>




<div class="row" style="margin-top:60%;">
    <div class="col-md-12">
        <div class="col-md-6" style="margin-top:-8%; right:auto">

            <div class="-Tab-Label-Copy-8 TextTitleBlack-6" style="margin-left:25px;text-align:left">
                @if (ViewBag.EsSubticket == 1)
                {
                    <b>
                        Subticket ID: @Model.ticket.Id
                    </b>
                }
                else
                {
                    <b>
                        Ticket ID: @Model.ticket.Id
                    </b>
                }
                <br />
            </div>
            <span style="margin-left:37px;">
                <b>
                    Historial de seguimiento
                </b>
            </span>
            <br />
            <br />
            <input type="hidden" value="@Model.ticket.Id" id="oIdTicket" />
            <div style="max-width: 100%; max-height: 800px;  font-size: 12px;overflow-y: scroll;overflow-x: hidden; border: solid 1px #E7E9E9">
                @foreach (var his in Model.his)
                {
                    @*<div>
                        <div style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;margin-bottom: 10px;padding:15px;width:100%;">
                            @if (!string.IsNullOrEmpty(item.TecnicoAsignadoReag2))
                            {
                                <div>
                                    <text style="font-weight:bold;color:black;font-size:14px;">@Html.DisplayFor(m => item.TecnicoAsignadoReag2)</text><br />
                                </div>
                            }
                            else if (!string.IsNullOrEmpty(item.TecnicoAsignadoReag))
                            {
                                <div>
                                    <text style="font-weight:bold;color:black;font-size:14px;">@Html.DisplayFor(m => item.TecnicoAsignadoReag)</text><br />
                                </div>
                            }
                            else
                            {
                                <div>
                                    <text style="font-weight:bold;color:black;font-size:14px;">@Html.DisplayFor(m => item.TecnicoAsignado)</text><br />
                                </div>
                            }
                            <text style="font-weight:inherit;color:#808080;font-size:12px;">@Html.DisplayFor(m => item.FechaRegistro)</text><br />
                            <text style="font-weight:inherit;color:#808080;font-size:12px;">@Html.DisplayFor(m => item.Correo)</text><br />
                            <text style="font-weight:inherit;color:#808080;font-size:12px;">@Html.DisplayFor(m => item.Estatus)</text><br />
                            <text style="font-weight:inherit;color:#808080;font-size:12px;"><b>Usuario: </b>@Html.DisplayFor(m => item.NombreCompleto)</text><br />
                            <text style="font-weight:inherit;color:#808080;font-size:12px;"><b>Motivo: </b>@Html.DisplayFor(m => item.Motivo)</text><br />
                        </div>

                    </div>*@

                    if (his.EstatusTicket != 2)
                    {
                        <div style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;margin-bottom: 10px;padding:15px;width:100%;">
                            @if (!string.IsNullOrEmpty(his.TecnicoAsignadoReag2))
                            {
                                <div>
                                    <text style="font-weight:bold;color:black;font-size:14px;">@Html.DisplayFor(m => his.TecnicoAsignadoReag2)</text><br />
                                </div>
                            }
                            else if (!string.IsNullOrEmpty(his.TecnicoAsignadoReag))
                            {
                                <div>
                                    <text style="font-weight:bold;color:black;font-size:14px;">@Html.DisplayFor(m => his.TecnicoAsignadoReag)</text><br />
                                </div>
                            }
                            else
                            {
                                <div>
                                    <text style="font-weight:bold;color:black;font-size:14px;">@Html.DisplayFor(m => his.TecnicoAsignado)</text><br />
                                </div>
                            }
                            <text style="font-weight:inherit;color:#808080;font-size:12px;">@Html.DisplayFor(m => his.FechaRegistro)</text><br />
                            <text style="font-weight:inherit;color:#808080;font-size:12px;">@Html.DisplayFor(m => his.Correo)</text><br />
                            <text style="font-weight:inherit;color:#808080;font-size:12px;">@Html.DisplayFor(m => his.Estatus)</text><br />
                            <text style="font-weight:inherit;color:#808080;font-size:12px;"><b>Usuario: </b>@Html.DisplayFor(m => his.NombreCompleto)</text><br />
                            <text style="font-weight:inherit;color:#808080;font-size:12px;"><b>Motivo: </b>@Html.DisplayFor(m => his.Motivo)</text><br />
                        </div>
                    }
                    else
                    {
                        if (his.NoAsignaciones != 0)
                        {
                            <div style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;margin-bottom: 10px;padding:15px;width:100%;">
                                @if (!string.IsNullOrEmpty(his.TecnicoAsignadoReag2))
                                {
                                    <div>
                                        <text style="font-weight:bold;color:black;font-size:14px;">@Html.DisplayFor(m => his.TecnicoAsignadoReag2)</text><br />
                                    </div>
                                }
                                else if (!string.IsNullOrEmpty(his.TecnicoAsignadoReag))
                                {
                                    <div>
                                        <text style="font-weight:bold;color:black;font-size:14px;">@Html.DisplayFor(m => his.TecnicoAsignadoReag)</text><br />
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <text style="font-weight:bold;color:black;font-size:14px;">@Html.DisplayFor(m => his.TecnicoAsignado)</text><br />
                                    </div>
                                }
                                <text style="font-weight:inherit;color:#808080;font-size:12px;">@Html.DisplayFor(m => his.FechaRegistro)</text><br />
                                <text style="font-weight:inherit;color:#808080;font-size:12px;">@Html.DisplayFor(m => his.Correo)</text><br />
                                <text style="font-weight:inherit;color:#808080;font-size:12px;">@Html.DisplayFor(m => his.Estatus)</text><br />
                                <text style="font-weight:inherit;color:#808080;font-size:12px;"><b>Usuario: </b>@Html.DisplayFor(m => his.NombreCompleto)</text><br />
                                <text style="font-weight:inherit;color:#808080;font-size:12px;"><b>Motivo: </b>@Html.DisplayFor(m => his.Motivo)</text><br />
                            </div>
                        }

                    }
                }


                <br />
                <div class="col-md-12" style="border:1px solid #ccc; text-align:center; background-color:#FFD5DD">
                    <button type="button" id="btnShowAdjuntos" onclick="ShowAdjuntos()"><text style="font-weight:bold;color:#069CE3;font-size:14px;">Archivos Adjuntos</text></button><br />
                </div>
            </div>
        </div>
        <div class="col-md-6" style="margin-top:-10%">
            <div class="col-md-12" style="width:-2%">
                <br />
                <span style="margin-right:36px;margin-top:37px;">
                    @if (Model.ticket.Estatus == "Cancelado")
                    {
                        //OvalCancelado
                        <i class="fa fa-circle OvalCancelado"></i>
                    }
                    @if (Model.ticket.Estatus == "Abierto")
                    {

                        <i class="fa fa-circle Oval"></i>
                    }
                    <b>
                        @Model.ticket.Estatus
                    </b>
                </span>
            </div>
            <div class="col-md-12">
                @*SLA DANIEL FUENTES*@
                <div class="row" style="text-align:right;background-color:#F9F9FA;">
                    <div class="col-md-12">
                        @if (Model.Slas != null)
                        {
                            foreach (var sla in Model.Slas)
                            {
                                <div class="col-md-3" style="border:2px solid #FFFFFF;border-radius:5px;text-align:center;background-color:@(sla.Color);margin-right:10px;padding:0px;">
                                    <label style="font-size:11px;font-weight:bold;color:black;margin-top:5px;">@Html.DisplayFor(t => sla.Type)</label><br />
                                    <label style="font-size:17px;font-weight:bold;color:black;">@Html.DisplayFor(t => sla.Time)</label>
                                </div>
                            }
                        }
                    </div>
                </div>
                @*SLA DANIEL FUENTES*@
                <div class="row" style="border-color: #F9F9FA; background-color: #F9F9FA;padding:10px;">
                    <ul class="nav nav-tabs navbar-left" id="myTab" role="tablist">
                        <li class="nav-item active">
                            <a class="nav-link" id="datoticket-tab" data-toggle="tab" href="#datoticket"
                               role="tab" aria-controls="datoticket" aria-selected="false" style="padding-bottom:1px;padding-top:1px;padding-right:15px;">
                                <h4 style="color:black;"> Datos del Ticket</h4>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="misdatosID-tab" data-toggle="tab" href="#misdatos"
                               role="tab" aria-controls="misdatos" aria-selected="false" style="padding-bottom:1px;padding-top:1px;padding-right:15px;">
                                <h4 style="color:black;">Mis Datos</h4>
                            </a>
                        </li>
                    </ul>
                </div>
                <table width="100%" id="DatosTicket" style="height:40%;">
                    <tr>
                        <td>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane active" id="datoticket" role="tabpanel" aria-labelledby="datoticket-tab">
                                    <div class="row">
                                        @Html.HiddenFor(m => m.ticket.Id)
                                        @Html.HiddenFor(m => m.EmployeeidBO)
                                        <div class="col-md-12">
                                            <h4 style="color:black;">Breve descripción de la incidencia</h4>
                                            <h5>@Html.DisplayFor(m => m.detalle.DescripcionIncidencia)</h5>
                                            <p style="margin:15px;"></p>
                                            <h4 style="color:black;">Soporte de la incidencia</h4>
                                            <h5>@Html.DisplayFor(m => m.detalle.ArchivoAdjunto)</h5>
                                            <p style="margin:15px;"></p>
                                            <h4 style="color:black;">Cátegoria</h4>
                                            <h5>@Html.DisplayFor(m => m.detalle.Categoria)</h5>
                                            <p style="margin:15px;"></p>
                                            <h4 style="color:black;">Subcátegoria</h4>
                                            <h5>@Html.DisplayFor(m => m.detalle.SubCategoria)</h5>
                                            <p style="margin:15px;"></p>
                                            <h4 style="color:black;">Centro</h4>
                                            <h5>@Html.DisplayFor(m => m.detalle.Centro)</h5>
                                            <p style="margin:15px;"></p>
                                            <h4 style="color:black;">Personas a notificar el estado del ticket</h4>
                                            <h5>@Html.DisplayFor(m => m.detalle.PersonasAddNotificar)</h5>
                                            <p style="margin:15px;"></p>
                                            <h4 style="color:black;">Grupo resolutor</h4>
                                            <h5>@Html.DisplayFor(m => m.detalle.GrupoResolutor)</h5>
                                            <p style="margin:15px;"></p>
                                            <h4 style="color:black;"><i class="glyphicon glyphicon-align-right"></i> Prioridad</h4>
                                            <h5>@Html.DisplayFor(m => m.detalle.Prioridad)</h5>
                                            <p style="margin:15px;"></p>
                                            <h4 style="color:black;"><i class="glyphicon glyphicon-user"></i> Técnico asignado</h4>
                                            <h5 style="font-weight:inherit;color:#808080;font-size:12px;">@Html.DisplayFor(m => m.detalle.TecnicoAsignado)</h5>
                                            <p style="margin:15px;"></p>
                                            <h4 style="color:black;"><i class="glyphicon glyphicon-user"></i> Técnico asignado reapertura</h4>
                                            <h5>@Html.DisplayFor(m => m.detalle.TecnicoAsignadoReag)</h5>
                                            <p style="margin:15px;"></p>
                                            <h4 style="color:black;"><i class="glyphicon glyphicon-user"></i> Técnico asignado reapertura 2</h4>
                                            <h5>@Html.DisplayFor(m => m.detalle.TecnicoAsignadoReag2)</h5>
                                            <p style="margin:15px;"></p>
                                            <h4 style="color:black;"><i class="glyphicon glyphicon-dashboard"></i> Número de reaperturas del ticket</h4>
                                            <h5>@Html.DisplayFor(m => m.detalle.NoReapertura)</h5>
                                            <p style="margin:15px;"></p>

                                        </div>
                                        <div class="col-md-12">
                                            @if (Model.ticket.Estatus == "Abierto")
                                            {
                                                <div class="col-md-8 col-md-offset-2">
                                                    @*@Html.ActionLink("Editar", "EditTicket", "App",
                                                        new { Id = Model.ticket.Id, Usuario = Model.EmployeeidBO }, new
                                                             {
                                                                 id = "btnNewB",
                                                                 @class = "btn btnP",
                                                                 @type = "button",
                                                             @style = "max-width:60%;min-width:60%;"
                                                             })*@

                                                    <button id="btnNewB" type="button" class="btn btnP" onclick="ShowEdit();" style="max-width:60%;min-width:60%;">Editar</button>
                                                </div>
                                            }
                                            @if (Model.ticket.Estatus == "Cerrado")
                                            {
                                                if (ViewBag.ContestoEncuesta == "NO")
                                                {

                                                    <div class="col-md-8 col-md-offset-2">

                                                        <button type="button" class="btn btnP" style="max-width:70%;min-width:60%;margin-top:3px;" onclick="ShowModalEncuesta(@Model.ticket.Id);">
                                                            Encuesta de satisfacción
                                                        </button>
                                                    </div>
                                                }
                                            }
                                           
                                            @if (Model.ticket.Estatus == "Resuelto")
                                            {
                                                <div class="col-md-8 col-md-offset-2">

                                                    <button type="button" class="btn btnP" style="max-width:60%;min-width:60%;margin-top:3px;" onclick="ApruebaSolucion(@Model.ticket.Id);">
                                                        Aprobar solución
                                                    </button>
                                                </div>
                                            }
                                            @if (Model.ticket.Estatus == "Resuelto")
                                            {
                                                <div class="col-md-8 col-md-offset-2">

                                                    <button type="button" class="btn btnP" style="max-width:60%;min-width:60%;margin-top:3px;" onclick="RechazaSolucionModal();">
                                                        Rechazar solución
                                                    </button>
                                                </div>
                                            }
                                            @if (Model.ticket.Estatus == "En Garantía")
                                            {
                                                <div class="col-md-8 col-md-offset-2">

                                                    <button type="button" class="btn btnP" style="max-width:60%;min-width:60%;margin-top:3px;" onclick="ReabreTicket(@Model.ticket.Id);">
                                                        Reabrir ticket
                                                    </button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                @*MIS DATOS*@
                                <div class="tab-pane " id="misdatos" role="tabpanel" aria-labelledby="misdatosID-tab">
                                    <div class="col-md-12">
                                        <br /><text style="font-weight:bold;color:black;font-size:14px;">
                                            ID Empleado<text />
                                            <br /><text style="font-weight:inherit;color:#808080;font-size:12px;">@Html.DisplayFor(m => m.detalle.EmpleadoID)</text>
                                            <br /><br /><text style="font-weight:bold;color:black;font-size:14px;">Nombre completo</text>
                                            <br /><text style="font-weight:inherit;color:#808080;font-size:12px;">@Html.DisplayFor(m => m.detalle.NombreCompleto)</text>
                                            <br /><br /><text style="font-weight:bold;color:black;font-size:14px;">Correo electrónico</text>
                                            <br /><text style="font-weight:inherit;color:#808080;font-size:12px;">@Html.DisplayFor(m => m.detalle.Correo)</text>
                                            <br /><br /><text style="font-weight:bold;color:black;font-size:14px;">Área</text>
                                            <br /><text style="font-weight:inherit;color:#808080;font-size:12px;">@Html.DisplayFor(m => m.detalle.Area)</text>
                                            <br />
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                </table>
                <table id="MisDatos" style="display:none;">
                    <tr>
                        <td>
                            <b>
                                ID de empleado
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.ticket.EmpleadoID
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Nombre completo
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.ticket.NombreCompleto
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>

                                Correo electrónico
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.ticket.Correo
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Área
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.ticket.Area
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>





    @using (Html.BeginForm("GetRechazaSolucion", "Supervisor", null, FormMethod.Post,
        new { enctype = "multipart/form-data", id = "form" }))
    {
        @*//Modal de RECHAZO de SOLUCION*@
        @Html.ValidationSummary()
        <div class="modal fade" tabindex="-1" role="dialog" id="modalRechazaSolucion">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div>
                        <div class="col-md-12">
                            <table style="width:100%;">
                                <tr>
                                    <td>
                                        <div class="modal-header">
                                            <h4 class="modal-title"><b>Rechazar solución</b></h4>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <br />
                                        @Html.Hidden("DetalleId")

                                        <br />
                                        <text style="font-weight:bold;color:#808080;font-size:12px;margin: 0px 39px 0px 10px;">
                                            MOTIVO DE RECHAZO DE LA SOLUCIÓN
                                            <br />
                                            @Html.TextArea("ComentariosRechazo", "",
                                           new
                                           {
                                               @class = "form-control",
                                               id = "ComentariosRechazobb",
                                               style = "margin: 0px 39px 0px 10px; max-width: 75% !important; width: 559px; height: 250px;"
                                           })
                                            <br />
                                            <br />
                                            <text style="font-weight:inherit;color:#808080;font-size:12px; margin:-1%;">SOPORTE DE LA INCIDENCIA</text><br />
                                            <label class="fileContainer">
                                                <label>Adjuntar archivo</label>
                                                <i class="glyphicon glyphicon-folder-open"></i>
                                                <input id="btnAddArchivoRechazo" type="file" name="upload" accept="application/application" />
                                            </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" onclick="CancelaSolicitud()">Cancelar</button>
                        <button type="button" class="btn btn-primary" onclick="RechazaSolucion(@Model.ticket.Id)">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    }




</div>

@*==============================MODALES AYB==============================*@

@*Modal de DESCARGA ARCHIVOS*@
<div class="modal fade" tabindex="-1" role="dialog" id="modalDownload">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class="col-md-12">
                    <table style="width:100%;">
                        <tr>
                            <td>
                                <div class="modal-header">
                                    <h4 class="modal-title"><b>Archivos Adjuntos</b></h4>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="scroll_vertical" style="max-width: 100%; max-height: 700px;  font-size: 15px; ">
                                        @if (Model.Docs != null)
                                        {


                                            @Html.Grid(Model.Docs).Columns(col =>
                                       {

                                           col.Add(data => data.Nombre).Titled("Archivo").Filterable(true);
                                           col.Add(data => data.Extension).Titled("Tipo");
                                           col.Add().Encoded(false).Sanitized(false)
                                         .RenderValueAs(data => "<div style='text-align: center'>"
                                             + "<button type='button' class='btn btn-success glyphicon glyphicon-download' title='Descargar' onclick='DownloadDocs(\"" + data.Id + "\");'></button>"
                                             + "</div>").Css("little");

                                       })

                                        }
                                        else
                                        {
                                            <label>¡No se encontraron Archivos Adjuntos!</label>
                                        }

                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="CancelaSolicitud()">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@*//Modal de Notificaciones*@
<div class="modal fade" tabindex="-1" role="dialog" id="modalNotificaciones">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class="col-md-12">
                    <table style="width:100%; display:none;" id="tblSuccess">
                        <tr>
                            <td>
                                <div class="modal-header">
                                    <h4 class="modal-title" id="tituloAceptaSolucion" style="display:none;"><b>Solución aprobada</b></h4>
                                    <h4 class="modal-title" id="tituloRechazaSolucion" style="display:none;"><b>Solicitud rechazada</b></h4>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <br />
                                <br />
                                <div style="color:forestgreen; top:-10px; font-style:normal;line-height:20px; margin-left:250px; font-size:xxx-large;" class="glyphicon glyphicon-ok">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:100%;">
                                <label style="color:slategray; margin-left:150px;display:none" id="LeyendaAceptaSolucion">
                                    Se aprobó la solución. El ticket está en un estado
                                    <br />
                                    de garantía
                                </label>
                                <label style="color:slategray; margin-left:150px;display:none" id="LeyendaRechazaSolucion">
                                    Se rechazó la solución. El ticket está en un estado
                                    <br />
                                    trabajando
                                </label>
                                <br />
                            </td>
                        </tr>
                    </table>
                    <table style="width:100%; display:none;" id="tblError">
                        <tr>
                            <td>
                                <div class="modal-header">
                                    <h4 class="modal-title"><b>¡Error!</b></h4>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <br />
                                <br />
                                <div style="color:red; top:-10px; font-style:normal;line-height:20px; margin-left:250px; font-size:xxx-large;" class="glyphicon glyphicon-ban-circle">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:100%;">
                                <label style="color:red;  margin-left:200px;">¡Error al guardar!</label>
                                <br />
                                <label style="color:red; margin-left:150px;">Favor de validarlo con el Administrador</label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="AceptaTicket(@Model.ticket.Id)">Aceptar</button>
            </div>
        </div>
    </div>
</div>













