@model ServiceDesk.ViewModels.NotificacionesVm

<style type="text/css">
    
    .opciones :hover {
        background: #c8f2f8;
    }
</style>
<script type="text/javascript">
     var num = '@Model.NumeroNotificaciones';
     var user = '@ViewBag.user';
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    $(document).ready(function () {
        $("#notinum").text(num);
    });
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    function redirHome() {
        window.location = '../Home/Index';
    }
    function logOut() {
        $('#formLogout').submit();
    }
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    function Seen(Id) {
        var visto = $("#visto" + Id).val();

        if (visto == 1) {

        } else {
         $.ajax({
                 url: '@Url.Action("SeenNoti", "Home")',
                type: "POST",
                data: {
                    NotiId: Id
                },
             success: function (result) {
                 if (result == "OK") {
                     $("#dv" + Id).css("border-left-color", "#878F97");
                     $("#visto" + Id).val(1);
                 }
                },
                error: function (err) {
                    alert(err);

                }
            });
        }
    }
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    function Delete(Id) {

         $.ajax({
                 url: '@Url.Action("DeleteNoti", "Home")',
                type: "POST",
                data: {
                    NotiId: Id
                },
             success: function (result) {
                 $("#dv" + Id).css("display", "none");
                 num = num - 1;
                 $("#notinum").text(num);
                },
                error: function (err) {
                    alert(err);

                }
            });
    }
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    function GoGestiones() {

        window.location = '../Supervisor/Gestiones?EmployeeId=' + user;

    }
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    function GoReportes() {

        window.location = '../Reportes/Graficos?EmployeeId=' + user;

    }
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
</script>


<div class="row">
    @*BARRA DE MENÚ*@

    <nav class="navbar navbar-default navbar-fixed-top" style="background:red;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" style="background-color:red;">
                        <a style="color: white !important" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-bell"></span></a>


                        <ul class="dropdown-menu notify-drop"
                            style="width:400px;height:600px;margin:0px;padding:0px;background-color:#F9F9FA;overflow-y: scroll;">
                            <li>
                                <div class="drop-content">

                                    <div class="col-md-12" style="border-left:0px;">
                                        <div class="row" style="border-bottom:3px solid #6D7379;padding-left:15px;">
                                            <table style="width:100%;">
                                                <tr>
                                                    <td style="width:80%;">
                                                        <h3 style="color:black;"><b>Notificaciones (<text id="notinum"></text>)</b></h3>
                                                    </td>
                                                    <td style="width:20%;">
                                                        <h3><i class="fa fa-times-circle-o" style="color:#66AEFD;font-size:25px;"></i></h3>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        @foreach (var not in Model.Notificaciones)
                                        {
                                            @Html.HiddenFor(t => not.Visto, new { id = "visto" + not.Id })
                                            <div id="dv@(not.Id)" class="row"
                                                 style="border-bottom:3px solid #6D7379;border-left:15px solid @not.Color;"
                                                 onmouseover="Seen(@not.Id);">
                                                <div class="col-md-12">
                                                    <div class="col-md-12">
                                                        <table style="width:100%">
                                                            <tr>
                                                                <td style="width:80%">
                                                                    <h4 style="color:black;"><b>@Html.DisplayFor(t => not.Motivo)</b></h4>
                                                                </td>
                                                                <td style="width:20%;text-align:right;">
                                                                    <i class="fa fa-trash" style="color:#66AEFD;font-size:25px;"
                                                                       onclick="Delete(@not.Id);"></i>
                                                                </td>
                                                            </tr>
                                                        </table>

                                                    </div>
                                                </div>
                                                <div class="col-md-12">

                                                    <div class="col-md-12">
                                                        <table style="width:100%">
                                                            <tr>
                                                                <td style="width:70%">
                                                                    <h5 style="color:#60676E;">@Html.DisplayFor(t => not.Mensaje)</h5>
                                                                </td>
                                                                <td style="width:30%;text-align:right;">
                                                                    <text style="font-size:12px;color:#60676E;">@Html.DisplayFor(t => not.Fecha)</text>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>

                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" style="background-color:red;">
                        <a style="color: white !important" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false"><span class="fa fa-bars"></span></a>
                        <ul class="dropdown-menu opciones" style="width:200px;">
                            @if (Request.IsAuthenticated)
                            {
                                <li>
                                    <div class="col-md-12" style="color: dodgerblue">
                                        <h4> @User.Identity.Name</h4>
                                    </div>
                                </li>
                            }
                            @if (ViewBag.Director == 0)
                            {
                                <li>
                                    <div class="col-md-12" style="color: dodgerblue" onclick="GoGestiones();">
                                        <h4><i class="fa fa-toggle-on"></i> Configuración</h4>
                                    </div>
                                </li>
                            }

                            <li>
                                <div class="col-md-12" style="color: dodgerblue" onclick="GoReportes();">
                                    <h4><i class="fa fa-pie-chart"></i> Reportes</h4>
                                </div>
                            </li>
                            <li>
                                <div class="col-md-12" style="color: dodgerblue" onclick="logOut();">
                                    @using (Html.BeginForm("CloseSession", "Home", FormMethod.Post, new { id = "formLogout" }))
                                    {

                                    }
                                    <h4><i class="fa fa-toggle-on"></i> Cerrar sesión</h4>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    @*FIN DE BARRA DE MENÚ*@
</div>