@model ServiceDesk.ViewModels.vmDashbordResolutor
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .input {
        width: 186px;
        height: 25px;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.79;
        letter-spacing: -0.23px;
    }

    .Rectangle {
        width: 400px;
        height: 36px;
        border-radius: 3px;
        border: solid 1px #f9f9fa;
        background-color: #fbfbfb;
    }

    .Rectangle-Copy {
        width: 960px;
        height: 64px;
        background-color: #3b424a;
    }

    .Label {
        width: 169px;
        height: 20px;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: 0.23px;
        text-align: center;
        color: var(--colours-global-plain-white);
    }

    .UI-Buttons-Text-Styles-Label-White-Regular {
        width: 234px;
        height: 50px;
        padding: 15px 32px 15px 33px;
    }

    label {
        width: 235px;
        height: 896px;
        height: 24px;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.2px;
        text-align: center;
    }

    .img.TicketsBarEmpty {
        width: 480px;
        min-width: 200px;
        height: 960px;
        margin: 64px 0 0;
        object-fit: contain;
    }

    .inbox {
        position: absolute;
        margin-top: 8px;
        margin-left: 10px;
    }

    .RectangleTicket {
        max-width: 100%;
        min-width: 200px;
        height: 31px;
        text-align: center;
    }

    .Oval {
        width: 18px;
        height: 18px;
        color: #17be17;
    }

    .OvalTrabajando {
        width: 18px;
        height: 18px;
        color: orange;
    }

    .OvalAsignado {
        width: 18px;
        height: 18px;
        color: #007bff;
    }

    .OvalCancelado {
        width: 18px;
        height: 18px;
        color: #dc3545;
    }

    .OvalEnEspera {
        width: 18px;
        height: 18px;
        color: #ffcb03;
    }

    .OvalCerrado {
        width: 18px;
        height: 18px;
        color: gray;
    }

    .OvalEnGarantia {
        width: 18px;
        height: 18px;
        color: #e83e8c;
    }

    .labelS:hover {
        box-shadow: 3px 3px 5px black;
    }

    .labelS:active,
    .labelS:target {
        color: white;
        background-color: #0060ff !important;
        border-color: #0060ff !important;
    }

    .labelS {
        background-color: #868e96;
    }

    .labelSelected {
        background-color: #007bff !important;
    }

    .looking-for:hover {
        box-shadow: 3px 3px 5px black;
    }

    .looking-for-span:active,
    .looking-for:active {
        color: white !important;
        background-color: #ced2d7 !important;
    }

    .RectangleTicket:hover {
        box-shadow: 1px 1px 1px black;
        background-color: #ced2d7 !important;
    }

    .RectangleTicket:active {
        box-shadow: 1px 1px 1px black;
        background-color: #dfebfa !important;
    }

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
        background-color: red !important;
    }
</style>
<script type="text/javascript">
    var user =  @ViewBag.user;
    var _type = "";

    $(document).ready(function () {

        window.addEventListener("keypress", function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        }, false);

    });//END DOCUMENT READY


    $(document).on("change", "[name='Filtro']", function (e) {
        debugger;
        if (_type == "") { alert("Debes seleccionar el tipo de ticket a buscar"); return; }
        var filtro = parseInt($("#Filtro").val());
        $('#partialView').load('../Directivo/GetAllTickets', { user: user, type: _type, idFiltro: filtro });

    });
    $(document).on("click", "[name='RectangleTicket']", function (e) {
        debugger;
        $(".labelS").removeClass("labelSelected");
        $("#" + e.currentTarget.children[0].id).addClass("labelSelected")
        _type = e.currentTarget.children[0].id.split('_')[1]
        $('#partialView').load('../Directivo/GetAllTickets', { user: user, type: e.currentTarget.id.split('_')[1] });
    });
    {
        @* function getModalVincular() {
            var list = $("input[name='vincular']:checked").map(function () {
                return this.id.split('_')[1];
            }).get();
            $("#View").remove();
            $("#modal-content-detail").append("<div id='View'></div>");
            $('#View').load('@Url.Action("dtaVincular", "Directivo")', {
                list: list,
                user: user // user: user  es agregado
            }, function () {
                $('#ModalDetalleSolicitud').modal({
                    show: true,
                    backdrop: 'static',
                    keyboard: false,
                });
            });
        } *@
    }

    function searchTicket() {
        debugger;
        var ticket = $("#searchTicket").val()
        if (ticket == "") {
            alert("ingresa un ticket a buscar");
            $("#searchTicket").focus();
            return;
        }
        var user = $("<input id='user' name='user'>").attr("type", "hidden").val(@ViewBag.user);
        $('#partialView').load('../Directivo/getTicketById', {
            ticket: ticket,
            user: @ViewBag.user
        }); //user: ViewBag es agregado y permite buscar culaquier ticket
    }
    function goToDetail(Ticket) {
        window.location = '../Directivo/DetalleTicket?EmployeeId=' + user + '&IdTicket=' + parseInt(Ticket);
    }
    var controller = "Directivo";
    function goToReportes() { window.location = '../Reportes/Graficos?EmployeeId=' + user; }
    function CerrarModal() { $('#ModalDetalleSolicitud').modal('toggle'); fastRefresh(); }
    function SaveVinculacion() {
        debugger;
        var ticketPadre = $("input[name='TicketPadre']:checked").map(function () {
            return this.id.split('_')[1];
        }).get();
        var lstTicket = $("input[name='TicketPadre']").map(function () {
            return this.id.split('_')[1];
        }).get();

        $.ajax({
            url: '@Url.Action("VincularTicket", "Directivo")',
            type: "POST",
            data: {
                ticketPadre: ticketPadre,
                lstTIcket: lstTicket
            },
            success: function (data) {
                debugger;
                if (data == "OK") {
                    $(".OKVincular").css('display','block')
                    $("#bandejaVincular").css('display','none')
                    $("#SaveVinculacion").css('display','none')
                    $("#totVinculados").css('display','none')
                    $("#btnCancelTicket").css('display','none')
                    $("#okCerrar").css('display','block')
                } else {
                    alert(data.message);
                    refresh()
                }
            },
            error: function (err) {
                alert("Error", data.message);
            }
        });
    }
</script>

<style type="text/css">
    .nav .dropdown-menu {
        background-color: white;
        color: dodgerblue;
        color: dodgerblue;
    }

    .dropdown-menu li a {
        color: dodgerblue;
    }
</style>



<div class="col-md-12">
    <div class="row">
        <div class="row" style="background-color: #3b424a;padding:10px;">
            <div class="col-md-2" style="text-align:center;">
                <button type="button" class="btn " onclick="goToUserDesk(@ViewBag.user);"
                        style="background-color:#3b424a;border:white !important;color:white;">
                    Ir a mis solicitudes
                </button>
            </div>
            <div class="col-md-2"> </div>
            <div class="col-md-4">
                @Html.DropDownList("Filtro", new SelectList(ViewBag.filtro, "Value", "Text"),
               "SELECCIONE", new { @class = "form-control", @style = "max-width:55% !important;" })
            </div>
            <div class="col-md-2 col-md-offset-2">
                @using (Html.BeginForm("getTicketById", "Directivo", FormMethod.Get, new { enctype = "multipart/form-data", id = "formTicketsByType" }))
                {
                    <div class="input-group Rectangle" style=" margin-left:-40%;">
                        <input type="text" class="form-control" id="searchTicket" placeholder="Buscar ID de ticket" style="max-width:90%;">
                        <div class="input-group-append looking-for" onclick="searchTicket()">
                            <span class="input-group-text looking-for-span"
                                  style="height:100%;min-width:30%;max-width:40%">
                                &nbsp;
                                <i class="fa fa-search" style="color: #007bff;margin-top:2%;font-size:16px"></i>
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="min-height:800px;background-color: #f9f9fa;">
                <div style="display:block;background-color: #f9f9fa;min-height:50px;" id="containerTickets">
                    @if (Model.lstTicket.Count > 1)
                    {
                        foreach (var data in Model.lstTicket)
                        {

                            <div class="RectangleTicket" name="RectangleTicket" style="margin-top:1%;" id="ticket_@data.estado">
                                @if (data.estado == "En Garantía")
                                {
                                    <label style="color:white;border-radius: 12px;width:90%" name='btnTypeTicket' id="btn_Garantia" class="labelS" data-value="1">
                                        <span style="position:relative;margin-top:1px;">@data.estado (@data.total)</span>
                                    </label>
                                }
                                else if (data.estado == "En Espera")
                                {
                                    <label style="color:white;border-radius: 12px;width:90%" name='btnTypeTicket' id="btn_Espera" class="labelS" data-value="1">
                                        <span style="position:relative;margin-top:1px;">@data.estado (@data.total)</span>
                                    </label>
                                }
                                else
                                {
                                    <label style="color:white;border-radius: 12px;width:90%" name='btnTypeTicket' id="btn_@data.estado" class="labelS" data-value="1">
                                        <span style="position:relative;margin-top:1px;">@data.estado (@data.total)</span>
                                    </label>
                                }

                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-md-10">
                <div id="partialView" style="max-width:100%;min-width:650px;background-color:white;">
                </div>
            </div>
        </div>
    </div>
</div>



